<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="about.css">
    <title>About Us</title>
</head>
<body>
    <header>
        <h1>About Us</h1>
    </header>
    <section class="about-us">
        <div class="container">
            <div class="about-content">
                <h2>Who We Are</h2>
                <p>We are IndiBlogs. Our Goal is to cultivate knowledge about Indian Heritage and Culture</p>
                <p>Crafting Indian Stories, One Blog at a Ti,e.</p>
            </div>
            <div class="about-image">
                <img src="Logo_final.png" alt="About Us Image">
            </div>
        </div>
    </section>
</body>
</html>
